
<%- include("./components/_header") -%>

	<h1>Add Task</h1>

<%- include("./components/_addToDo") -%>

	<h1>HoneyDo List</h1>

<%- include("./components/_todos") -%>

<%- include("./components/_footer") -%>